<!DOCTYPE HTML>
<html>
	<head>
		<title>Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Brandon Solo</h1>
						<p>Portfolio</p>
						<ul class="actions">
							<li><a href="#featuredPost" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="#" class="logo">WELCOME</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html">Main</a></li>
							<li><a href="generic.html">Work</a></li>
							<li><a href="elements.html">Extra</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/brandon-solo/" target="_blank" class="icon brands fa-linkedin"><span class="label">GitHub</span></a></li>
							<li><a href="https://github.com/MIBbrandon" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured" style="padding-top: 20px;">
								<header class="major">
									<p id="latestWork">Latest work</p>
									<h2><a id="featuredPost" href="#">PROJECT ATHENA</a></h2>
								</header>
								<a href="/athena" class="image main"><img src="{{url_for('static', filename='images/projectAthena.png')}}" alt="" /></a>
									<p>
										An important part of quantum computers in the NISQ era is qubit routing.
										This means mapping the logical qubits of a given algorithm to the physical ones
										in the architecture of our quantum device in such a way that it optimally
										reduces the number of swaps required to implement the desired algorithm. Project
										Athena is an attempt to find the best architecture-agnostic algorithm and to
										visually walk through all of the swaps done.
									</p>
								<ul class="actions special">
									<li><a href="/athena" class="button large">Have a look</a></li>
								</ul>
							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<h2><a href="#">Solar System simulator</a></h2>
									</header>
									<a href="#" class="image fit"><img src="{{url_for('static', filename='images/pic02.jpg')}}" alt="" /></a>
									<p>Simulating physics is always fun, and simulating an entire solar system 
										is fascinating, since you can manipulate all the conditions and see how 
										the environment changes. Check it out! </p>
									<ul class="actions special">
										<li><a href="#" class="button">Have a look</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="#">Calculator in one file</a></h2>
									</header>
									<a href="#" class="image fit"><img src="{{url_for('static', filename='images/pic03.jpg')}}" alt="" /></a>
									<p>Making your own calculator is something that most people do already.
										However, they probably required aid from a lot of pre-written software.
										What if we tried to use as little external software as possible? That is what this 
										project is all about!
									</p>
									<ul class="actions special">
										<li><a href="#" class="button">Have a look</a></li>
									</ul>
								</article>
							</section>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<section class="split contact">
							<section>
								<h3>Email</h3>
								<p><a>1brandonsolo@gmail.com</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="https://www.linkedin.com/in/brandon-solo/" class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/MIBbrandon" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="{{url_for('static', filename='js/pageDynamics/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/pageDynamics/jquery.scrollex.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/pageDynamics/jquery.scrolly.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/pageDynamics/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/pageDynamics/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/pageDynamics/util.js')}}"></script>
			<script src="{{url_for('static', filename='js/pageDynamics/main.js')}}"></script>

	</body>
</html>